# Server Configuration
PORT=3000
NODE_ENV=development
HOSTNAME=localhost
URL=your_url

# Database Master
DB_MASTER_NAME=your_master_database_name
DB_MASTER_USERNAME=your_username
DB_MASTER_PASSWORD=your_password
DB_MASTER_SERVER=your_server_address

# Database Warehouse
DB_WH_NAME=your_warehouse_database_name
DB_WH_USERNAME=your_username
DB_WH_PASSWORD=your_password
DB_WH_SERVER=your_server_address

# Database Storage
DB_STORAGE_NAME=your_storage_database_name
DB_STORAGE_USERNAME=your_username
DB_STORAGE_PASSWORD=your_password
DB_STORAGE_SERVER=your_server_address

# Database IWTR
DB_IWTR_NAME=your_storage_database_name
DB_IWTR_USERNAME=your_username
DB_IWTR_PASSWORD=your_password
DB_IWTR_SERVER=your_server_address

# JWT Configuration
JWT_SECRET=your_jwt_secret_key

# Selfinotify
SELFINOTIFY_URL=http://localhost:3003

# Sonarqube
SONARQUBE_URL=
SONARQUBE_TOKEN=

# Redis Configuration
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=

SWAGGER_ENABLED=true_or_false
SWAGGER_USERNAME=
SWAGGER_PASSWORD=